{% extends "main/layout.html" %}
{% load staticfiles %}

{% block content %}
<!-- Hero Slider Start -->
<section id="hero">
    <div class="fs-hero hero-slider">
        <div class="swiper-hero swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url({% static "images/main/main1.png" %})">
                    <div class="hero-caption center-right text-white">
                    </div>			
                </div>
                <div class="swiper-slide" style="background-image:url({% static "images/main/main2.jpg" %})">
                    <div class="hero-caption text-white center-right">
                    </div>		
                </div>
                <div class="swiper-slide" style="background-image:url({% static "images/main/main3.jpg" %})">
                    <div class="hero-caption text-white btm-right">
                    </div>		
                </div>
            </div><!-- /swiper-wrapper -->
            <div class="swiper-navigation navigation-2">
                <div class="swiper-hero-button-next"><i class="ei ei-right-chevron"></i></div>
                <div class="swiper-hero-button-prev"><i class="ei ei-left-chevron"></i></div>
            </div>
            <div class="swiper-hero-pagination swiper-bullet-1"></div>
        </div>
    </div><!-- /hero-img -->
</section>
<!-- Hero Slider End -->

<section class="section-2">
    <div class="container">
        <h2 class="heading-1 text-center">COM.MA</h2>
        <p class="text-center width-70 mrg-horizon-auto font-size-20">Communication with Major, COM.MA는 <br/>
                                                        어느 '대학'이냐보다 어느 <span class="theme-color">'학과'</span>이냐가 더 중요해진 요즘<br/>
                                                        고등학생들에게 <span class="theme-color">'전공'</span>에 대한 이야기를 들려주고 정보를 전해주는<br/>
                                                        <span class="theme-color">대학생 전공강연 봉사 동아리</span>입니다.</p>
    </div>
</section>

<!-- About Start -->
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="text-right pdd-right-30">
                    <span class="theme-color font-size-17"><b>Why COM.MA?</b></span>
                    <h2 class="lh-1-2 ls-1 mrg-btm-30">전공을 통한 소통의 기회</h2>
                </div><!-- text-right -->
            </div>
            <div class="col-md-6">
                <p>COM.MA는<span class="theme-color">‘전공을 통하여 소통한다.’</span>는 마음가짐을 가지고,<br> 
                    직접 학생들을 여러 번 찾아가 전공에 대한 정보 제공을 해줄 뿐만 아니라,<br>
                    최근에 고등학교 생활을 경험한 멘토들이, 고등학생의 눈높이에서 학생들과 소통하며,<br>
                    학생들이 스스로 한 번 더 자신의 진로에 대해 진지하게 생각할 수 있는 기회를 제공합니다.</p>
            </div>
        </div>
        <div class="text-center mrg-top-30">
            <a href="#" class="btn btn-dark-inverse btn-md">Read More</a>
        </div><!-- /text-center -->
    </div>
</section>
<!-- About End -->

<!-- About Start -->
<section class="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-right">COM.MA는 <span class="theme-color">'전공과 소통'</span>이라는 주제로 중고등학생과 대학생 멘토를,<br>
                더 나아가 현재와 미래를 전공을 통해 잇고자 합니다.<br>
                홈페이지를 통해서 멘티들의 쉼표가 될 수 있는, 전환점이자 새로운<br>
                시작을 만들 수 있는 소통의 공간이 되고자 합니다.</p>
            </div>
            <div class="col-md-4">
                <div class="text-left pdd-left-30">
                    <span class="theme-color font-size-17"><b>How about COM.MA</b></span>
                    <h2 class="lh-1-2 ls-1 mrg-btm-30">전공과 소통</h2>
                </div>
            </div>
        </div>
        <div class="text-center mrg-top-30">
            <a href="#" class="btn btn-dark-inverse btn-md">Read More</a>
        </div>
    </div>
</section>
<!-- About End -->

<!-- Features Start -->
<section class="section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="heading-1" style="font-family: 'Hanna';">COM.MA의 경험</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                <p class="mrg-top-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p>
                <div class="counter-style-1 mrg-vertical-30 row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2 class="counter theme-color">81,425</h2>
                        <p>강연 수</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2 class="counter theme-color">300</h2>
                        <p>멘토 수</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2 class="counter theme-color">52,867</h2>
                        <p>멘티 수</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="features-block-1">
                            <i class="ei ei-antenna"></i>
                            <h4 class="features-tittle">알맞는</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        </div><!-- /features-block-1 -->
                        <div class="features-block-1">
                            <i class="ei ei-heart"></i>
                            <h4 class="features-tittle">다양한</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        </div><!-- /features-block-1 -->
                    </div>
                    <div class="col-md-6">
                        <div class="features-block-1">
                            <i class="ei ei-smartphone"></i>
                            <h4 class="features-tittle">친근한</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        </div><!-- /features-block-1 -->
                        <div class="features-block-1">
                            <i class="ei ei-hanger"></i>
                            <h4 class="features-tittle">솔직한</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        </div><!-- /features-block-1 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End -->

<!-- Portfolio Start -->
<section class="section-1">
    <div class="container">
        <div class="text-center">
            <h2 style="font-family: 'Hanna';"><span class="theme-color" style="font-family: 'Hanna';">COM.MA</span>의 활동</h2>
            <p>Lorem Ipsum is simply dummy text</p>
        </div><!-- / text-center -->
    </div>
    <div class="container-fluid">
        <div class="portfolio isotope masonry row col-4 mrg-top-50">
            {% for photo in photos %}
            <a href="{{ photo.photo.url }}" class="folio-item lightbox-img">
                <div class="folio-style-2">
                    <div class="folio-image">
                        <img class="img-responsive" src="{{ photo.photo.url }}" alt="">
                    </div><!-- /folio-image -->
                    <div class="overlay">
                        <div class="folio-caption">
                            <h3 class="folio-tittle">{{ photo.site }}</h3>
                            <p class="describe">{{ photo.date }}</p>
                        </div><!-- /folio-caption -->
                    </div><!-- /overlay -->
                </div><!-- folio-style -->
            </a><!-- /folio-item -->
            {% endfor %}
        </div><!-- /portfolio-->    
    </div>
    <div class="mrg-vertical-50 text-center">
        <a href="{% url "main:act_photo" %}" class="btn btn-dark btn-md">Show More</a>
    </div>
</section>
<!-- Portfolio End -->        
    
{% endblock content %}